
/*Header*/


/* Hero */

/* Card */
.mutants, .row {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.mutants__card {
    width: 360px;
    border-radius: 20px;
    background: #584F4F;
    text-align: center;
}

.mutants,
h2 {
    text-align: center;
    font-size: 26px;
}

.mutants__img img {
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 20px;
    border-radius: 30px;

}

.mutants__img ul {
    margin: 30px;
    padding: 10px;
    font-size: 20px;
}

.mutants__img li {
    margin-left: 35px;
    font-size: 20px;

}

.mutants__name h3 {
    margin-top: 15px;
    margin-left: 35px;
    padding: 20px;
    font-size: 24px;
}


/* Info end */
/* footer */

footer {
    padding: 15px 0;
    background: #99fbc0;
    border-radius: 20px 20px 0 0;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

section {
    margin: 60px 0;
}

@media all and (max-width: 860px) {
    .mutants {
        display: block;
    }
}